*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

:focus:not(:focus-visible) {
    outline: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
.App {
    padding: 20px;
}

.rangesContainer {
    display: flex;
    flex-direction: column;
}

.dateTimeRangeLabel {
    height: 60px;
    width: 300px;
    background-color: lightcyan;
    border: 1px solid black;
}